.col-xs-6.col-sm-4.col-md-3
  .affilliate.m-xs-b-1
    //- pre
    //-   code #{JSON.stringify(post, null, 2)}
    if post.affiliateURL
      a(href=post.affiliateURL)
        if post.affiliateLogoDark
          img(src=post.affiliateLogoDark.url)
        else
          .placeholder
    else
      a(href=post.permalink)
        if post.affiliateLogoDark
          img(src=post.affiliateLogoDark.url)
        else
          .placeholder
      
