.col-xs-12.col-sm-6.m-xs-b-2
  //- pre
  //-   code #{JSON.stringify(post, null, 2)}
  if post.campaignLinkCheck === "none"
    article.campaign-static
      if !post.thumbnail
        .placeholder
      else
        .filter
          .overlay
          img.mono(src=post.thumbnail.url)
            
      .row
        .col-xs-12.col-sm-10
          .h1.title-block= post.title
        .col-xs-12.col-sm-7
          .lead.m-xs-b-1
            span= post.subtitle
            //- .excerpt!= post.excerpt
  else if post.campaignLinkCheck === "custom"
    a(href=post.campaignLink)
      article.campaign
        if !post.thumbnail
          .placeholder
        else
          a(href=post.campaignLink)
            .filter
              .overlay
              img.mono(src=post.thumbnail.url)
        
        .row
          .col-xs-12.col-sm-10
            .h1.title-block #[a(href=post.campaignLink)= post.title]
          .col-xs-12.col-sm-7
            .lead.m-xs-b-1
              a(href=post.campaignLink) #[span= post.subtitle] #[br]
              a.more-link(href=post.campaignLink) #[span=post.campaignMoreLinkText] #[span &#9658;]
            //- .excerpt!= post.excerpt
  else
    a(href=post.permalink)
      article.campaign
        if !post.thumbnail
          .placeholder
        else
          a(href=post.permalink)
            .filter
              .overlay
              img.mono(src=post.thumbnail.url)
        
        .row
          .col-xs-12.col-sm-10
            .h1.title-block #[a(href=post.permalink)= post.title]
          .col-xs-12.col-sm-7
            .lead.m-xs-b-1
              a(href=post.permalink) #[span= post.subtitle] #[br] #[a.more-link(href=post.permalink) More &#9658;]
            //- .excerpt!= post.excerpt
