.col-xs-12.col-md-6
  //- pre
  //-   code #{JSON.stringify(post, null, 2)}

  article.campaign
    if !post.thumbnail
      .placeholder
    else
      a(href=post.permalink)
        img(src=post.thumbnail.url)
    h2.title #[a(href=post.permalink)= post.title]
    h4.subtitle #[a(href=post.permalink)= post.subtitle]
    .excerpt!= post.excerpt
