include ./_mixins
doctype html
html(lang="en-us")
  head
    meta(charset="utf-8")
    title= site.site.name
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16")
    link(rel="manifest" href="/manifest.json")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="theme-color" content="#ffffff")

    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css")
    link(rel="stylesheet" type="text/css" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    link(href="/css/style.css" rel="stylesheet" type="text/css")

    script async src="https://www.googletagmanager.com/gtag/js?id=UA-142279292-2" script
    script window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-142279292-2'); script

    meta(property="og:site_name" content=site.site.name)
    meta(property="og:locale" content=site.site.language.replace('-','_'))

    if post
      if post.title
        meta(property="og:title" content=post.title)
      if post.description
        meta(property="og:description" content=post.description)
      if post.permalink
        meta(property="og:url" content='https://www.allianceforyouthaction.org' + post.permalink)
      if post.thumbnail
        if post.thumbnail.large
          if post.thumbnail.large.url
            meta(property="og:image" content=post.thumbnail.large.url)
          if post.thumbnail.large.width
            meta(property="og:image:width" content=post.thumbnail.large.width)
          if post.thumbnail.large.height
            meta(property="og:image:height" content=post.thumbnail.large.height)
  body
    header#header.youth-sans
      .container
        .row
          .col-xs-12
            .header-content

              #logo
                a(href="/")

                  include ./partials/alliance
                  include ./partials/for
                  include ./partials/youth
                  include ./partials/action


              button.main-menu-toggle MENU #[span &#9652;]

              if site.menus && site.menus.main
                nav#main-menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
                  +navMenu(site.menus.main)

    block header

    section#content
      block content
                  
    footer#footer.color-scheme-blue.p-xs-y-1
      .container
        .footer-row-wrapper
          .row.reverse.footer-menu-row
            .col-xs-12.col-md-6
              .h4.text-uppercase.m-xs-t-0= site.options.footerContactFormTitle
              div.m-xs-b-1= site.options.footerContactFormDescription
              #contact-sign-up
                script(type='text/javascript' src='https://d1aqhv4sn5kxtx.cloudfront.net/actiontag/at.js' crossorigin='anonymous')
                div(class='ngp-form'
                    data-form-url="https://actions.everyaction.com/v1/Forms/xsBjt5wkeUuodvXC4FE3_g2"
                    data-fastaction-endpoint="https://fastaction.ngpvan.com"
                    data-inline-errors="true"
                    data-fastaction-nologin="true"
                    data-databag="everybody")
                    
            .col-xs-12.col-md-6
              .row
                .col-xs-12.col-md-6
                  if site.menus && site.menus.about
                    nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
                      +navMenu(site.menus.about)

                  if site.menus && site.menus.campaigns
                    nav.m-xs-t-2(itemscope itemtype="http://schema.org/SiteNavigationElement")
                      +navMenu(site.menus.campaigns)

                .col-xs-12.col-md-6
                  if site.menus && site.menus.organizing
                    nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
                      +navMenu(site.menus.organizing)

                  if site.menus && site.menus.donate
                    nav.m-xs-t-2(itemscope itemtype="http://schema.org/SiteNavigationElement")
                      +navMenu(site.menus.donate)

                  nav.m-xs-t-2.social(itemscope itemtype="http://schema.org/SiteNavigationElement")
                    ul
                      li #[a(href="https://www.facebook.com/AllianceforYouthAction/" target="_blank") #[i.ion-social-facebook]]
                      li #[a(href="https://twitter.com/alliance4youth" target="_blank") #[i.ion-social-twitter]]
                      li #[a(href="https://www.instagram.com/allianceforyouthaction/" target="_blank") #[i.ion-social-instagram]]
                      //- li #[a(href="" target="_blank") #[i.ion-social-instagram]]
                      //- li #[a(href="" target="_blank") #[i.ion-social-youtube]]
                      //- .footer-logo-row.row.p-xs-t-3.bottom-xs.reverse
          .row.m-xs-t-2
            .col-xs-12.m-xs-b-2.m-md-b-0
              .logo
                a(href="/")

                  include ./partials/alliance
                  include ./partials/for
                  include ./partials/youth
                  include ./partials/action


          .footer-copright-row.row.p-xs-t-1
            .col-xs-12
                .footer-logo-menu-wrapper
                  if site.menus && site.menus.footer
                    nav.footer-menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
                      +navMenu(site.menus.footer)

                  .copyright= site.options.footerCopyrightText

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/2.6.1/fuse.min.js")
    script(type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js")
    script(src="/js/script.js")
