extends layout

block header
  .color-scheme-blue
    .container.p-xs-y-3
      .row
        .col-xs-12
          .home-page-header-content
            if post.headline_lines
              each headline_line in post.headline_lines
                .headline-line
                  if headline_line.headline_line.length > 0
                    span= headline_line.headline_line

      .row.m-xs-t-1
        .col-xs-12.col-sm-10
          .header-transition-headline #{post.headerTransitionHeadline} #[strong= post.headerTransitionHeadlineEmphasis]

      .row.m-xs-t-1
        .col-xs-12.col-sm-8
          div.lead!= post.homeHeaderDescription

          .m-xs-t-1
            a.lead-more.more-link(href="/about") About The Alliance &#9658;

block content
  .container.m-xs-t-3
    .row
      .col-xs-12
        .teal-header-line
          span= post.featuredCampaignsHeader
    .row
      .col-xs-12.col-sm-10.col-md-8.lead.m-xs-b-1!= post.featuredCampaignsHeaderDescription
    .row
      if post.featuredCampaigns
        each postId in post.featuredCampaigns
          if site.posts
            - var ogPost = post
            each campPost in site.posts
              if campPost.id == postId
                - post = campPost
                include ./partials/campaign-listing

            - post = ogPost

  .p-xs-y-6.color-scheme-teal
    .container
      .row.reverse
        .col-xs-12.col-md-7
          include ./partials/map
        .col-xs-12.col-md-5
          .p-md-r-9
            h1.color-blue= post.affiliateHomeHeadline
            div!= post.affiliateHomeLeadin

          if post.affiliatesHome && site.posts
            .home-affiliates
              .row
                each postId in post.affiliatesHome
                  each affiliate in site.posts
                    if affiliate.id === postId
                      .col-xs-12.col-sm-6
                        .h4.map-affiliate= affiliate.title
      .row
        .col-xs-12
          a.more-link.white(href="/local-organizing") Learn more &#9658;

  .p-xs-y-3
    .container
      .row.middle-xs
        .col-xs-12.col-md-4.col-md-offset-1
          .p-xs-y-1
            h1.m-xs-t-0= post.donateSectionHeadline
            if post.donateSectionLeadin
              div!= post.donateSectionLeadin
                a.more-link(href="/donate") Donate now! &#9658;
            //- a.button.big.outline(href="/donate")= post.donateButtonText

        .col-xs-12.col-md-4.col-md-offset-2
          a(href="/donate")
            include ./partials/donate-graphic

  if post.featuredUpdates
    .container.p-xs-y-3
      .row.m-xs-b-1
        .col-xs-12
          .teal-header-line
            span= post.featuredUpdatesHeader
          if post.donateSectionLeadin
            .lead!=post.featuredUpdatesLeadin
      .row
        - var ogPost = post
        each postId in post.featuredUpdates
          each post in site.posts
            if postId === post.id
              include ./partials/post-listing
        - post = ogPost
