extends layout

block content
  .container.p-xs-y-3
    .m-xs-b-3
      .row
        .col-xs-12
          h1.teal-barred-text #[span= post.title]
      .row
        .col-xs-12.col-md-7
          .lead= post.subtitle
          div!= post.content

    - var ogPost = post
    each post in site.posts
      if post.type === 'job'
        article.row
          .col-xs-12.col-md-6
            h3.m-xs-t-0= post.title
            div!= post.subtitle
            div!= post.excerpt
            a.button.outline(href=post.permalink) Read More

    - post = ogPost
