extends layout

block content
  .container.p-xs-b-3
    .m-xs-b-3
      .row
        .col-xs-12
          .large-teal-header-line
            span= post.title
      .row
        .col-xs-12.col-md-7
          .lead!= post.subtitle

    - var ogPost = post
    each post in site.posts
      if post.type === 'job'
        article.row
          .col-xs-12.col-md-6
            h3.m-xs-t-0= post.title
            div!= post.subtitle
            div!= post.excerpt
            a.button.outline(href=post.permalink) Read More

    - post = ogPost
