extends layout

block content
  script(type="text/javascript" src="//d1aqhv4sn5kxtx.cloudfront.net/nvtag.js")
  .ngp-form(data-id="1431161077685552896")


  script(type="text/javascript" src="https://d1aqhv4sn5kxtx.cloudfront.net/actiontag/at.js")
  .ngp-form(class='ngp-form'
    data-template='oberon'
    data-id='5947427079008028416'
    data-endpoint='https://api.myngp.com/'
    data-formdef-endpoint='//formdefs.s3.amazonaws.com/api.myngp.com'
    data-fastaction-endpoint='https://fastaction.ngpvan.com/'
    data-databag='everybody'
    data-resource-path='https://d1aqhv4sn5kxtx.cloudfront.net/'
    data-inline-errors='true'
    data-fastaction-nologin='true'
    data-embed='false')
