extends layout

block header
  .container.m-xs-y-3
    .row.middle-xs
      .col-xs-12.col-md-4
        .lead!= post.homeLeftDescription
      .col-xs-12.col-md-8
        img(src=post.header_image.url)
    .row.m-xs-t-1
      .col-xs-12
        .lead #{post.headerTransitionHeadline} #[strong= post.headerTransitionHeadlineEmphasis]

block content

  //- pre
  //-   code #{JSON.stringify(post, null, 2)}

  .container.m-xs-t-3
    .row
      .col-xs-12
        h2= post.featuredCampaignsHeader
    .row
      if post.featuredCampaigns
        each postId in post.featuredCampaigns
          if site.posts
            - var ogPost = post
            each campPost in site.posts
              if campPost.id == postId
                - post = campPost
                include ./partials/campaign-listing

            - post = ogPost

  .container.m-xs-y-3
    .row
      .col-xs-12
        h2= post.affiliateHomeHeadline
        .lead!= post.affiliateHomeLeadin

    .row
      if post.affiliatesHome && site.posts
        each postId in post.affiliatesHome
          each affiliate in site.posts
            if affiliate.id === postId
              .col-xs-12.col-md-2
                .placeholder-affiliate


  .bg-light.p-xs-y-3
    .container
      .row.middle-xs
        .col-xs-12.col-md-6
          h3= post.donateSectionHeadline
          if post.donateSectionLeadin
            div!= post.donateSectionLeadin
        .col-xs-12.col-md-6.text-center
          a.button.big.outline= post.donateButtonText


  if post.featuredUpdates
    .container.p-xs-y-3
      .row.m-xs-b-1
        .col-xs-12.col-md-7
          h2= post.featuredUpdatesHeader
          if post.donateSectionLeadin
            .lead!=post.featuredUpdatesLeadin
      .row
        - var ogPost = post
        each postId in post.featuredUpdates
          each post in site.posts
            if postId === post.id
              include ./partials/post-listing


        - post = ogPost
