extends layout

block header
  .color-scheme-blue
    .container.p-xs-y-3
      .row
        .col-xs-12
          .home-page-header-content
            if post.headline_lines
              each headline_line in post.headline_lines
                .headline-line
                  if headline_line.headline_line.length > 0
                    span= headline_line.headline_line
            if post.header_image && post.header_image.hasOwnProperty('url')
              .image(style="background-image: url(" + post.header_image.url + ");")
      .row
        .col-xs-12.col-sm-10
          div.lead!= post.homeHeaderDescription
      .row.m-xs-t-1
        .col-xs-12.col-sm-10
          .header-transition-headline #{post.headerTransitionHeadline} #[strong= post.headerTransitionHeadlineEmphasis]

block content
  .container.m-xs-t-3
    .row
      .col-xs-12
        h3.teal-barred-text #[span= post.featuredCampaignsHeader]
    .row
      .col-xs-12.col-sm-10.col-md-9
        .lead!= post.featuredCampaignsHeaderDescription
    .row
      if post.featuredCampaigns
        each postId in post.featuredCampaigns
          if site.posts
            - var ogPost = post
            each campPost in site.posts
              if campPost.id == postId
                - post = campPost
                include ./partials/campaign-listing

            - post = ogPost

  .m-xs-t-3.p-xs-y-3.color-scheme-teal
    .container
      .row
        .col-xs-12.col-md-5
          h3= post.affiliateHomeHeadline
          .lead!= post.affiliateHomeLeadin

          if post.affiliatesHome && site.posts
            ul.home-affilliates.cf
              each postId in post.affiliatesHome
                each affiliate in site.posts
                  if affiliate.id === postId
                    li.lead= affiliate.title

        .col-xs-12.col-md-7
          include ./partials/map

  .p-xs-y-3
    .container
      .row.middle-xs
        .col-xs-12.col-md-7
          h3.m-xs-t-0= post.donateSectionHeadline
          if post.donateSectionLeadin
            div.text-bold!= post.donateSectionLeadin
          
          a.button.big.outline= post.donateButtonText

        .col-xs-12.col-md-5
          include ./partials/donate-graphic

  //- HIDDEN FOR BETA
  //- if post.featuredUpdates
  //-   .container.p-xs-y-3
  //-     .row.m-xs-b-1
  //-       .col-xs-12.col-md-7
  //-         h3= post.featuredUpdatesHeader
  //-         if post.donateSectionLeadin
  //-           .lead!=post.featuredUpdatesLeadin
  //-     .row
  //-       - var ogPost = post
  //-       each postId in post.featuredUpdates
  //-         each post in site.posts
  //-           if postId === post.id
  //-             include ./partials/post-listing


        - post = ogPost
