extends layout

block content
  - var splitTitle = post.title.split(" ")

  .container.ignore-horizontal-overflow.m-xs-b-3.p-xs-t-1
    .row
      .col-xs-12
        .hidden-md
          .large-teal-header-line
            span= post.title

        if splitTitle[0]
          .teal-right-border
            .arrow-down
            .border-overlay

            .large-teal-header-line.hidden-xs.visible-md
              span= splitTitle[0]

            .teal-right-border-content

              if splitTitle[1]
                .teal-right-border
                  .arrow-down
                  .large-teal-header-line.hidden-xs.visible-md
                    span= splitTitle[1]
                    
                  .teal-right-border-content
                    .row
                      .col-xs-12.m-xs-b-2
                        if post.headerImages
                          .header-images
                            each image in post.headerImages
                              div
                                img(src=image.url)

    .row.m-xs-b-2
      .col-xs-12.col-md-8.col-md-offset-2
        if post
          .lead!= post.content

    .row
      .col-xs-12.col-md-8.col-md-offset-2

    .row
      .col-xs-12.col-md-8.col-md-offset-2.blue-box.p-xs-a-2.m-xs-b-3
        h3= post.intro_title
        div!= post.intro_description

    .row
      .col-xs-12.col-md-8.col-md-offset-2
        h3= post.affiliates_title
        section!= post.affiliates_description

    .row.m-xs-b-3
      .col-xs-12

        - var ogPost = post
        .row.p-xs-a-0
          .col-xs-12.col-md-8.col-md-offset-2.p-xs-a-0
            .row
              if post.selected_affiliates
                each selected_affiliate_id in post.selected_affiliates
                  each post in site.posts
                    if post.type === 'affilliate' && post.id === selected_affiliate_id
                      include ./partials/affiliate-listing

        - post = ogPost

    .row
      .col-xs-12.col-md-8.col-md-offset-2
        h3= post.partners_title
        div!= post.partners_description

    .row.m-xs-b-3
      .col-xs-12
        .row.p-xs-a-0
          .col-xs-12.col-md-8.col-md-offset-2.p-xs-a-0
            .row
              if post.partners
                each partner in post.partners
                  .col-xs-6.col-sm-4.col-md-3
                    .partner.m-xs-b-1
                      a(href=partner.partner_url)
                        if partner.partner_logo
                          img.centered(src=partner.partner_logo)
                        else
                          .placeholder= partner.partner_name

    .row
      .col-xs-12.col-md-8.col-md-offset-2
        h3= post.join_title
    .row
      .col-xs-12.col-md-4.col-md-offset-2
        //- h3= post.join_title
        div!= post.join_description
        div
          a(href="#").button Get In Touch

      .col-xs-12.col-md-4
        if post.join_image && post.join_image.hasOwnProperty('url')
          img(src=post.join_image.url)
