extends layout

block content
  .container.ignore-horizontal-overflow.m-xs-b-3.p-xs-t-1
    .row
      .col-xs-12
        .hidden-md
          .large-teal-header-line
            span= post.title
            span!= post.subtitle.replace('Rain', '<span class="strikethrough">Rain<span class="line"></span></span>')

        .teal-right-border
          .arrow-down
          .border-overlay

          .large-teal-header-line.hidden-xs.visible-md
            span= post.title
            
          .teal-right-border-content
            

            .teal-right-border
              .arrow-down
              .large-teal-header-line.hidden-xs.visible-md
                span!= post.subtitle.replace('Rain', '<span class="strikethrough">Rain<span class="line"></span></span>')
                
              .teal-right-border-content
                .row.p-xs-t-2.p-md-r-2
                  .col-xs-12.col-sm-6.m-xs-b-2
                    div!= post.content
                  .col-xs-12.col-sm-6
                    if post.thumbnail
                      img(src=post.thumbnail.large.url)


  .container
    .row
      .col-xs-12.col-md-10.col-md-offset-1
        .color-scheme-blue.m-xs-b-6
          if site.options.hasOwnProperty('everyaction_donate_form_id')
            #donate-form
              script(type='text/javascript' src='https://d1aqhv4sn5kxtx.cloudfront.net/actiontag/at.js' crossorigin='anonymous')
              div(class='ngp-form'
                  data-form-url="https://actions.everyaction.com/v1/Forms/H3Y71bpmUEmF9LC79y4PRg2"
                  data-fastaction-endpoint="https://fastaction.ngpvan.com"
                  data-inline-errors="true"
                  data-fastaction-nologin="true"
                  data-databag="everybody")
