extends layout

block content
  .container
    .row
      .col-xs-12.p-xs-y-2
        script(type="text/javascript" src="https://d1aqhv4sn5kxtx.cloudfront.net/actiontag/at.js")
        .ngp-form(class='ngp-form'
          data-template='oberon'
          data-id='7244463771690731264'
          data-endpoint='https://api.myngp.com/'
          data-formdef-endpoint='//formdefs.s3.amazonaws.com/api.myngp.com'
          data-fastaction-endpoint='https://fastaction.ngpvan.com/'
          data-databag='everybody'
          data-resource-path='https://d1aqhv4sn5kxtx.cloudfront.net/'
          data-inline-errors='true'
          data-fastaction-nologin='true'
          data-embed='true')
