extends layout

block content
  .container

    .m-xs-y-2
      .row
        .col-xs-12
          h1.teal-barred-text #[span= post.staff_heading_title]
      .row
        .col-xs-12.col-md-7
          div!= post.staff_heading_description

    if post.staffMembers
      each staffMember in post.staffMembers
        .staff-member.m-xs-b-3.m-xs-t-1
          .row
            .col-xs-12.col-md-2
              if staffMember.photo
                img(src=staffMember.photo.url)
              else
                .placeholder-person
            .col-xs-12.col-md-7
              h3.m-xs-t-0.name= staffMember.name
              .job-titles!= staffMember.jobTitles
              .bio!= staffMember.bio

    .m-xs-y-2
      .row
        .col-xs-12
          h1.teal-barred-text #[span= post.board_title]
      .row
        .col-xs-12.col-md-7
          div!= post.board_description

    .m-xs-b-2
      .row
        .col-xs-12
          h3 The Board of Directors of the Alliance for Youth Action
          .meta titles listed for identification purposes only
      if post.boardDirectorsYouthAction
        .row
          .col-xs-12
            each boardMember in post.boardDirectorsYouthAction
              p #{boardMember.person}

    .m-xs-b-2
      .row
        .col-xs-12
          h3 The Board of Directors of the Alliance for Youth Organizing
          .meta titles listed for identification purposes only
      if post.boardDirectorsYouthOrganizing
        .row
          .col-xs-12
            each boardMember in post.boardDirectorsYouthOrganizing
              p #{boardMember.person}
