extends layout

block content
  .container
    .row
      .col-xs-12
        .large-teal-header-line
          span= post.title
        if post.subtitle && post.subtitle
            .section-lead!= post.subtitle

    if post.headerImages
      .row
        .col-xs-12.col-md-10.col-md-offset-1
          .header-images
            each image in post.headerImages
              .header-image
                .filter
                  img(src=image.sizes.large)

    .row.m-xs-y-3.middle-xs
      .col-xs-12.col-md-4.col-md-offset-2
        .text-bold!= post.campaignLandingTextLeft
      .col-xs-12.col-md-4
        div!= post.campaignLandingTextRight

    .row.m-xs-y-3
      .col-xs-12
        .teal-header-line
          span= post.goalsTitle
      .col-xs-12.col-md-8.col-md-offset-2
        //- h2.teal-barred-text #[span= post.goalsTitle]

        ol.campaign-main-goals
          each goal in post.goals
            li
              h3.goal-title= goal.title

              ul
                each task in goal.tasks
                  li= task.task

    .row.m-xs-t-3
      .col-xs-12
        .teal-header-line
          span= post.campaignWhatWereDoingTitle
      .col-xs-12.col-md-7
        p.lead= post.campaignWhatWereDoingDescription

    if post.campaignWhatWereDoing
      .row
        each thing in post.campaignWhatWereDoing
          .col-xs-12.col-md-4
            .small-slider
              if thing.images
                .small-slider
                  each image in thing.images
                    div
                      div.small-slider-image-wrapper
                        img(src=image.sizes.large)
              else
                .placeholder
            h3.goal-title= thing.name
            div!= thing.description


    - var accomplismentClass = ''
    if post.accomplishments
      each accomplishment in post.accomplishments
        div(class='row m-xs-y-6 middle-xs' + accomplismentClass)
          .col-xs-12.col-md-4
            h4.accomp-title= accomplishment.title
            div!= accomplishment.description
          .col-xs-12.col-md-1
          .col-xs-12.col-md-7
            if !accomplishment.image
              .placeholder
            else
              img(src=accomplishment.image.sizes.large)

        if accomplismentClass === ''
          - accomplismentClass = ' reverse'
        else
          - accomplismentClass = ''

    //- .row
    //-   .col-xs-12.col-md-7
    //-     h3= post.campaignNewsTitle
    //-     .lead!= post.campaignNewsDescription
    //- .row
    //-   if post.newsPosts
    //-     - var numPostsPrinted = 0
    //-     - var ogPost = post
    //-     each post in ogPost.newsPosts
    //-       if numPostsPrinted < 3
    //-         - numPostsPrinted = numPostsPrinted + 1
    //-         include ./partials/post-listing
    //-     - post = ogPost

    .row
      .col-xs-12.col-md-7
        h3.m-xs-y-0= post.researchTitle
        .lead!= post.researchDescription

    .row
      if post.researchPosts
        - var numPostsPrinted = 0
        - var ogPost = post
        each post in ogPost.researchPosts
          if numPostsPrinted < 3
            - numPostsPrinted = numPostsPrinted + 1
            include ./partials/post-listing
        - post = ogPost

    .row.m-xs-b-3
      .col-xs-12.col-md-6.col-md-offset-3
        h3= post.campaignFooterTitle

        if post.campaignFooterSubtitle
          h4= post.campaignFooterSubtitle

        .lead!= post.campaignFooterContent


    .row.m-xs-b-3
      .col-xs-12.text-center
        a.button(href="/campaigns/") Back To All Campaigns
