extends layout

block content
  .container
    .row
      .col-xs-12
        .large-teal-header-line
          span= post.title
        if post.subtitle && post.subtitle
            .h3!= post.subtitle

    if post.headerImages
      .row.p-xs-t-2
        .col-xs-12.col-md-10.col-md-offset-1
          .header-images
            each image in post.headerImages
              .header-image
                .filter
                  img(src=image.sizes.large)

    .row.m-xs-y-3
      .col-xs-12.col-md-4.col-md-offset-2
        .text-bold!= post.campaignLandingTextLeft
      .col-xs-12.col-md-4
        div!= post.campaignLandingTextRight

    - var goalsTitleArray = post.goalsTitle.split(" ")
    - var goalsTitleTop = goalsTitleArray.slice(0, Math.floor(goalsTitleArray.length / 2)).join(' ')
    - var goalsTitleBottom = goalsTitleArray.slice(Math.floor(goalsTitleArray.length / 2)).join(' ')
 
    if post.goals && post.goals
      .row
        .col-xs-12.col-md-10
          .teal-right-border
            .arrow-down
            .border-overlay.background-blue

            .hidden-md
              .large-teal-header-line
                span= post.goalsTitle

            .large-teal-header-line.hidden-xs.visible-md
              span= goalsTitleTop

            .teal-right-border-content


              .teal-right-border
                .arrow-down
                .large-teal-header-line.hidden-xs.visible-md
                  span= goalsTitleBottom
                  
                .teal-right-border-content
                  .row
                    .col-xs-12.m-xs-b-2
                      div.p-xs-t-9 &nbsp;

      .row.margin-top-like-negative
        //-.row.m-xs-y-3
        //- .col-xs-12
        //-   .teal-header-line
        //-     span= post.goalsTitle
        .col-xs-12.col-md-10.col-md-offset-1
          .m-xs-y-6
            .blue-box.p-xs-a-2
              ol.campaign-main-goals
                - var goalNumber = 1
                each goal in post.goals
                  li.m-xs-b-3
                    .goal-number= goalNumber
                    - goalNumber++
                    h2= goal.title

                    ul
                      each task in goal.tasks
                        li.goal-task= task.task
                        
    if post.campaignWhatWereDoing
      .row.m-xs-t-3
        .col-xs-12
          .large-teal-header-line
            span= post.campaignWhatWereDoingTitle
        .col-xs-12.col-md-7
          p.lead.m-xs-b-2= post.campaignWhatWereDoingDescription

    if post.campaignWhatWereDoing
      .row
        each thing in post.campaignWhatWereDoing
          .col-xs-12.col-sm-4
            .m-xs-b-3.m-sm-b-0
              .small-slider
                if thing.images
                  .small-slider
                    each image in thing.images
                      div
                        div.small-slider-image-wrapper
                          img(src=image.sizes.large)
                else
                  .placeholder
              h3.m-xs-b-0.goal-title= thing.name
              div.no-paragraph-top-margins!= thing.description


    if post.accomplishments_title
      .row.m-xs-t-6.m-xs-b-2
        .col-xs-12
          .large-teal-header-line
            span= post.accomplishments_title

    - var accomplismentClass = ''
    if post.accomplishments
      each accomplishment in post.accomplishments
        div(class='row m-xs-b-3 m-md-b-6 middle-xs' + accomplismentClass)
          .col-xs-12.col-md-7
            if !accomplishment.image
              .placeholder
            else
              img(src=accomplishment.image.sizes.large)
          .col-xs-12.col-md-4
            h4.m-xs-b-0.accomp-title= accomplishment.title
            div.no-paragraph-top-margins!= accomplishment.description
          

        if accomplismentClass === ''
          - accomplismentClass = ' reverse'
        else
          - accomplismentClass = ''

    //- .row
    //-   .col-xs-12.col-md-7
    //-     h3= post.campaignNewsTitle
    //-     .lead!= post.campaignNewsDescription
    //- .row
    //-   if post.newsPosts
    //-     - var numPostsPrinted = 0
    //-     - var ogPost = post
    //-     each post in ogPost.newsPosts
    //-       if numPostsPrinted < 3
    //-         - numPostsPrinted = numPostsPrinted + 1
    //-         include ./partials/post-listing
    //-     - post = ogPost

    //- .row
    //-   .col-xs-12.col-md-7
    //-     h3.m-xs-y-0= post.researchTitle
    //-     .lead!= post.researchDescription
    //- 
    //- .row
    //-   if post.researchPosts
    //-     - var numPostsPrinted = 0
    //-     - var ogPost = post
    //-     each post in ogPost.researchPosts
    //-       if numPostsPrinted < 3
    //-         - numPostsPrinted = numPostsPrinted + 1
    //-         include ./partials/post-listing
    //-     - post = ogPost

    .row.m-xs-t-2
      .col-xs-12
        .large-teal-header-line
          span= post.campaignFooterTitle
    .row.m-xs-b-6
      .col-xs-12.col-md-8
        div!= post.campaignFooterContent

    //- .row.m-xs-b-3
    //-   .col-xs-12.col-md-6.col-md-offset-3
    //-     .bordered-box.m-xs-y-3
    //-       h3= post.campaignFooterTitle
    //-       if post.campaignFooterSubtitle
    //-         h4= post.campaignFooterSubtitle
    //- 
    //-       .div!= post.campaignFooterContent

    .row.m-xs-b-3
      .col-xs-12.text-center
        a.button(href="/campaigns/") Back To All Campaigns
